// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here
@import "./abstracts/variables";

// 3. Include remainder of required Bootstrap stylesheets
@import "~bootstrap/scss/variables";
@import "./abstracts/map-amends";

@import "~bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap');

:root, body {
    --bs-body-font-family: 'Noto Sans', sans-serif;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Livvic', sans-serif;
}

.text-custom-primary {
    color: var(--bs-custom-primary);
}

.text-custom-light {
    color: var(--bs-custom-light);
}

/* Dropdown icon */

.dropdown-toggle::after {
    display: none;
}

/* Dev */

.jb-h-12_5 {
    height: 12.5rem;
}

.jb-h-14 {
    height: 14rem;
}

.jb-h-25{
    height: 25rem;
}