/* Utilities */
// Colors
$primary: #7751F1;

/* Components */
// Buttons
$btn-border-radius-sm: 2rem;

/* Components */
// Navbar
$navbar-padding-y: 0.5rem;

$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
