/* Utilities */
// Colors
$primary: #7751F1;

// Allows for customizing button radius independently from global border radius
$border-radius-pill: 50rem;

$btn-border-radius: $border-radius-pill;
$btn-border-radius-sm: $border-radius-pill;
$btn-border-radius-lg: $border-radius-pill;
// scss-docs-end border-radius-variables

/* Components */
// Navbar
$navbar-padding-y: 0.5rem;

$navbar-dark-toggler-border-color: transparent;
$navbar-light-toggler-border-color: transparent;
